

<div class="container" style="padding-top: 20px;">
    <div data-ng-app="RESTClientModule">
        <div data-ng-controller="MVCDynamicMenuWCF_Controller">
                <div class="container">
                            <ul class="menu">

                                <li data-ng-repeat="menus in MenuDetailsDisp">
                                    <p>{{menus.Name}}</p>

                                </li>

                            </ul>

                    
                </div>

            
        </div>

    </div>
</div>

    @section scripts {
        <script src="~/Scripts/MyScripts/module.js"></script>

        <script src="~/Scripts/MyScripts/service.js"></script>

        <script src="~/Scripts/MyScripts/controller.js"></script>
    }



